body {
    font-family: 'Nanum Gothic', 'Arimo', sans-serif;
    color: rgb(51, 54, 54);
}

* {
    margin: 0a;
}

.none {display: none;}

/* background color */

.grey {
    background-color: rgb(190, 190, 190);
}

/* img */

.wide
{
    width: 100%;
}

.imageFull {
    width: 100%;
    height: 100%;
}


/* navbar */

@media only screen and (min-width: 625px) {
    #navMobile {
        display: none;
    }
}

@media only screen and (max-width: 625px) {
    #navMobile {
        display: flex;
    }

    #navFull {
        display: none;
    }
}

/* second block */

@media only screen and (min-width: 625px) {
    .imageMobile {
        display: none;
    }
}

@media only screen and (max-width: 625px) {
    .imageFull {
        display: none;
    }
}


