body {
    margin: 0;
    font-family: 'Nanum Gothic', 'Arimo', sans-serif;
    font-size: 1.2em;
    color: rgb(51, 54, 54);
}



a {
    text-decoration: none;
    color: black;
}


/* grid */

.container {
    display: grid;
    width: 1200px;
    margin: 0;
    grid-template-areas: "nav nav"
        "leftFirst rigthFirst"
        "leftSec rightSec"
        "rowFirst rowFirst"
        "rowSec rowSec"
        "leftFor rightFor"
        "foot foot";
    grid-template-columns: 60% 40%;
    grid-template-rows: 60px 550px 600px 650px 550px 60px;

}

nav {
    grid-area: nav;
}

.leftFirst {
    grid-area: leftFirst;
}

.rightFirst {
    grid-area: rigthFirst;
}

.leftSec {
    grid-area: leftSec;
}

.rightSec {
    grid-area: rightSec;
}


.rowFirst {
    grid-area: rowFirst;
}

.rowSec {
    grid-area: rowSec;
}

.rightFor {
    grid-area: rightFor;
}

.leftFor {
    grid-area: leftFor;
}

footer {
    grid-area: foot;
}


/* nav bar */


.navMobile {
    display: none;
}


nav {
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    white-space: nowrap;
    padding-left: 1.4em;
}

.logoList {
    align-self: center;
    padding: 0 0.9em;
}

.logo img {
    width: 17%;
}

nav a {
    padding: 0.5em;
}

/* first part */

.leftFirst,
.rightFirst {
    background-color: rgb(211, 211, 211);
}

.leftFirst img {
    object-fit: cover;
    width: 92%;
    max-height: 92%;
    padding: 24px;
}

.rightFirst {
    display: grid;
    align-items: center;
}

h1 {
    padding: 0 3em 0 0;
}

.content h3 {
    padding: 1em 3em 1em 0;
}

.content>* {
    margin: auto;
}

button {
    background-color: rgb(80, 80, 80);
    border: none;
    ;
    padding: 1em 8.5em;
}

button a {
    color: white;
}

/* second part */

.leftSec img {
    object-fit: cover;
    width: 92%;
    max-height: 92%;
    padding: 32px 24px 32px 24px;
}

.imageFull {
    width: 100%;
    height: auto;
}

.quote {
    padding: 0 24px 0 32px;
}

.quote p {
    font-size: small;
}

.quote h2 {
    margin-top: 0;
}

.note {
    display: grid;
    padding: 32px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1/3 1/3 1/3;
    column-gap: 1em;
    row-gap: 1em;
}

.note p, 
.note a {
    font-size: small;
}

.note a {
    color: blue;
}

.info {
    align-self: center;
}

.info h4 {
    margin: 0;
}


* {
    border: 1px solid black;
}




.rowFirst,
.rowSecond,
.leftFor,
.rightFor {
    display: none;
}

.imageMobile {
    display: none
}

video {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}